.header {
	margin-top: 20px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	font-size: 20px;
	&__name {
		font-size: 20px;
		font-weight: 500;
		letter-spacing: 2px;
		line-height: 22px;
	}
	&__name--last {
		margin-left: 37px;
	}
	&__nav {
	}
	&__nav__list {
		display: flex;
		flex-flow: row nowrap;
		margin: 0px;
		list-style: none;
		padding: 0px;
		font-size: 18px;
		letter-spacing: 2px;
	}
	&__nav__item {
		margin-left: 40px;
	}
}
