.projects {
	font-size: $primary-font;
	&__title, &__row {
		animation-delay: 1.5s;
	}
	&__title {
		margin-bottom: 25px;
	}
	&__rows {
		&--active {
			.projects__row {
				color: $primary-light;
			}
			.projects__row--active {
				color: $primary;
			}
		}
	}
	&__row {
		display: block;
		padding: 50px 0px;
		border-top: 1px solid $primary-light;
		cursor: pointer;
		color: $primary;
		text-decoration: none !important;
		transition: color 0.3s;
	}
	&__innerRow {
		display: flex;
		justify-content: space-between;
		flex-flow: column nowrap;
	}
	&__name {
		font-weight: 500;
		font-size: 30px;
		flex: 1 1 60%;
	}
	&__description {
		flex: 1 1 40%;
		padding-left: 1px;
	}

	@media (min-width: $phone) {
		&__row {
			height: 44px;
		}
		&__innerRow {
			height: 44px;
			flex-flow: row nowrap;
			align-items: center;
		}
		&__description {
			padding-left: 25px;
		}
	}

	@media (min-width: $tablet) {
		&__name {
			flex: 1 1 55%;
		}
		&__description {
			flex: 1 1 45%;
		}
	}
}
