/* Colors */
$background: #3A3C83; // blue
$primary: #FF8181; // light pink
// $background: #6b53cb; // purple
// $primary: #e6eeff;  // white
// $background: #fdf6e3; // eggshell
// $primary: #2aa198; // teal
// $background: #FFFFFF; // white
// $primary: #000000; // black

/* Breakpoints*/
$phone : 568px;
$tablet: 768px;

