@import "variables";
@import "header";
@import "jumbo";
@import "projects";
@import "projectPage";
@import "animation";

body {
	margin: 0px;
	font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	background-color: $background;
	color: $primary;
}

#container {
	padding: 0px 20px;
	max-width: 1000px;
}

a {
	color: $primary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

@media (min-width: $phone) {
	#container {
		padding: 0px 40px;
	}
}

@media (min-width: $tablet) {
	#container {
		width: 70%;
		margin: auto;
	}
}
