@import "variables";
@import "header";
@import "jumbo";
@import "projects";
@import "animation";

body {
	margin: 0px;
	font-family: 'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	background-color: $background;
	color: $primary;
}

#container {
}

a {
	color: $primary;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

@media(min-width: 756px) {
	#container {
		width: 70%;
		max-width: 900px;
		margin: auto;
	}
}
